
#home .slider img{
    width: 100%;
}
.main1,.main2{
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#home .main img{
    width: 100%;
    box-sizing: border-box;
}
#home .main .mvTitle{
	height: 30px;
	position: relative;
	padding: 3px 0 ;	 
}
#home .main .mvTitle p{
	text-indent: 10px;    
}
#home .main .mvTitle span{
	position: absolute;	
	right: 10px;
	top:15px;
	font-size: 20px;
	color: #f60;    
}


  
